<app-header></app-header>
<!-- Start Overview Our App Area -->
<section class="common-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center wow fadeInUp">
                <h1>Overview Our App</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do eiusmod temporut magna aliqua.</p>
            </div>
            <div class="col-md-4 wow zoomIn">
                <div class="about">
                    <div class="about-icon">
                        <img src="assets/images/about-icon1.png" alt="">
                        <img src="assets/images/about-icon6.png" alt="">
                    </div>
                    <h4>Creative Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis. Nam pharetra aliquam leo, Sed lacinia euismod convallis.</p>
                </div>
            </div>
            <div class="col-md-4 wow zoomIn">
                <div class="about">
                    <div class="about-icon">
                        <img src="assets/images/about-icon4.png" alt="">
                        <img src="assets/images/about-icon2.png" alt="">
                    </div>
                    <h4>Creative Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis. Nam pharetra aliquam leo, Sed lacinia euismod convallis.</p>
                </div>
            </div>
            <div class="col-md-4 wow zoomIn">
                <div class="about">
                    <div class="about-icon">
                        <img src="assets/images/about-icon3.png" alt="">
                        <img src="assets/images/about-icon5.png" alt="">
                    </div>
                    <h4>Creative Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et feugiat mi. Sed lacinia euismod convallis. Nam pharetra aliquam leo, Sed lacinia euismod convallis.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview Our App Area -->
<app-footer></app-footer>
